#textdomain wesnoth-InkyQuest

#define SEA_HEAD_COMES
		[unstore_unit]
			find_vacant=yes
			variable=stored_sea_head
			x,y=4,14
			facing=se
		[/unstore_unit]
		[message]
			speaker=Sea Head
			message= _ "Why do you wa-...er...disturb my recuperation?"
		[/message]
		[message]
			speaker=Inky
			message= _ "Excuse me, Master, but I have cought enough fish to feed the hatchlings and I have even protected the hatchary from an invasion of the land-dwellers."
		[/message]
		[unstore_unit]
			variable=stored_Elcmas
			x=44
			y=1
		[/unstore_unit]
		[message]
			speaker=Elcmas
			message= _ "Those sea monsters have done another foul deed and I was once again unable to stop them. I should tell sir Daedry. Those sea monsters will pay with their blue blood!"
		[/message]
		[kill]
			id=Elcmas
		[/kill]
		[message]
			speaker=Sea Head
			message= _ "Look! It seems like at least one merman has escaped you!" 
		[/message]
		[message]
			speaker=Inky
			message= _ "I think I have seen him before... Wasn't it that one that held Gaa in that cage?"
		[/message]
		[message]
			speaker=Gaaa
			message= _ "Gaaa!"
		[/message]
		[message]
			speaker=Sea Head
			message=_ "He must be responsible for those land-dwellers landing near our hatchary. We must catch him before he tells the land-dwellers to send reinforcements!"
		[/message]
		[endlevel]
       			  result=victory
       			 bonus=yes
      			{NEW_GOLD_CARRYOVER 40}
		 [/endlevel]
#enddef

#define	LICH_COMES
	[message]
		speaker=Sea Head
		message= _ "Our mission here is complete. We can return home now."
	[/message]
	[message]
		speaker=Gaaa
		message= _ "Gaaa!"
	[/message]
	[move_unit_fake]
		type=Ancient Lich
		side=4
		x=14,14,14,14,14,14,14
		y=32,31,30,29,28,27,26
	[/move_unit_fake]
	[unit]
		type=Ancient Lich
		side=4
		id=Ravyan
		name= _ "Lich-Lord Ravyan"
		x=14
		y=26
		{IS_HERO}
		[modifications]
			{TRAIT_DIM}
		[/modifications]
	[/unit]
	[message]
		speaker=Ravyan
		message= _ "Do you think you can break into my fortress unpunished, you semi-inteligent molluscs?"
	[/message]
	[message]
		speaker=Sea Head
		message= _ "Who are you and what do you mean by semi-intelligent?"
	[/message]
	[redraw]
		side=1
	[/redraw]
	[message]
		speaker=Ravyan
		message= _ "If you were fully intelligent, you wouldn't have killed all those people in the domain of Ravyan the Lich-Lord!"
	[/message]
	[message]
		speaker=Sea Head
		message= _ "Look, Inky. He is raising all those land-dwellers you have slain! We should retreat before he finishes it!"
	[/message]
	[endlevel]
			result=victory
			bonus=yes
		{NEW_GOLD_CARRYOVER 40}
		[/endlevel]
#enddef

#define DRAKE_ESCAPE
	[message]
		speaker=Ravyan
		message= _ "Do you think you can escape me so easily, molluscs? I'm unstopable!"
	[/message]
	[if]
		[have_unit]
			id=Kermath Ihn
		[/have_unit]
		[then]
			[message]
				speaker=Kermath Ihn
				message= _ "As long as I remain the warchief, I won't let undead monstrosities roam my land!"
			[/message]
		[/then]
		[else]
			[if]
				[have_unit]
					id=Ga'ashinari
				[/have_unit]
				[then]
					[message]
						speaker=Ga'ashinari
						message= _ "Kermath Ihn might have been more lenient, but I won't endure undead taking a stroll in my domain!"
					[/message]
				[/then]
				[else]
					[role]
						race=drake
						role=Survivor
					[/role]
					[message]
						role=Survivor
						message= _ "We must avenge death of our warchief! Don't let that lich escape!"
					[/message]
				[/else]
			[/if]
		[/else]
	[/if]
	[message]
		speaker=Ravyan
		message= _ "Pathetic reptile! You can barely slow me down!"
	[/message]
	[message]
		speaker=Flamy
		message= _ "I see you have enough problems on your own, but would you mind helping me with that blind lizard?"
	[/message]
	[message]
		speaker=Inky
		message= _ "We will help you if you promise to help us with our quest later."
	[/message]
	[message]
		speaker=Flamy
		message= _ "Agreed."
	[/message]
	[endlevel]
		result=victory
		bonus=yes
	{NEW_GOLD_CARRYOVER 40}
	[/endlevel]
#enddef
#define SEA_HEAD_STUCK
[store_unit]
	[filter]
		id=Sea Head
	[/filter]
	kill=no
	variable=SeaHead
[/store_unit]

[if]
	[have_location]
		x=$SeaHead.x
		y=$SeaHead.y
		terrain=Ur,Uu,Urb,Uu^Uf,Uv^Vu,Rp^Vhcr
	[/have_location]
	[then]
		[message]
			speaker=Sea Head
			message= _ "Oh no! I got stuck on the dry land!"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
	[/then]
[/if]
#enddef

#define	LICHEN_BRIDGE
 {QUAKE "rumble.ogg"}
 {FLASH_RED ()}
[terrain]
	terrain=Uu^Uf
	x=20
	y=10-45	
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=24
	y=8-48	
[/terrain]
[terrain]
	terrain=Urb
	x=21
	y=10-48	
[/terrain]
[terrain]
	terrain=Urb
	x=22
	y=9-47	
[/terrain]
[terrain]
	terrain=Urb
	x=23
	y=8-48	
[/terrain]
[terrain]
	terrain=Rp^Vhcr
	x=22
	y=44	
[/terrain]
[capture_village]
	side=2
	x=22
	y=44
[/capture_village]
[terrain]
	terrain=Rp^Vhcr
	x=22
	y=38	
[/terrain]
[capture_village]
	side=2
	x=22
	y=38
[/capture_village]
[terrain]
	terrain=Rp^Vhcr
	x=22
	y=32	
[/terrain]
[capture_village]
	side=2
	x=22
	y=32
[/capture_village]
[terrain]
	terrain=Rp^Vhcr
	x=22
	y=26	
[/terrain]
[capture_village]
	side=2
	x=22
	y=26
[/capture_village]
[terrain]
	terrain=Rp^Vhcr
	x=22
	y=20	
[/terrain]
[capture_village]
	side=2
	x=22
	y=20
[/capture_village]
[terrain]
	terrain=Rp^Vhcr
	x=22
	y=14	
[/terrain]
[capture_village]
	side=2
	x=22
	y=14
[/capture_village]
[terrain]
	terrain=Rp^Vhcr
	x=22
	y=9	
[/terrain]
[capture_village]
	side=2
	x=22
	y=9
[/capture_village]
[terrain]
	terrain=Wwg
	x=19
	y=10-45
[/terrain]
[terrain]
	terrain=Wwg
	x=25
	y=7-49
[/terrain]
[terrain]
	terrain=Wwg
	x=14
	y=40-43
[/terrain]
[terrain]
	terrain=Wwg
	x=15
	y=40-44
[/terrain]
[terrain]
	terrain=Wwg
	x=16
	y=39-44
[/terrain]
[terrain]
	terrain=Wwg
	x=17
	y=40-44
[/terrain]
[terrain]
	terrain=Wwg
	x=18
	y=10-43
[/terrain]
[redraw]
	side=1
[/redraw]
#enddef

#define LICHEN_ONE
 {QUAKE "rumble.ogg"}
[terrain]
	terrain=Uu^Uf
	x=14
	y=40-44
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15
	y=40
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=16
	y=39
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=17
	y=40
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=18
	y=40-44
[/terrain]
[terrain]
	terrain=Urb
	x=19
	y=41-45
[/terrain]
[terrain]
	terrain=Urb
	x=15
	y=41-44
[/terrain]
[terrain]
	terrain=Urb
	x=17
	y=41-44
[/terrain]
[terrain]
	terrain=Urb
	x=16
	y=40-44
[/terrain]
[terrain]
	terrain=Rp^Vhcr
	x=16
	y=42
[/terrain]
[capture_village]
	side=2
	x=16
	y=42
[/capture_village]
[terrain]
	terrain=Wwg
	x=14
	y=35-39
[/terrain]
[terrain]
	terrain=Wwg
	x=15
	y=35-39
[/terrain]
[terrain]
	terrain=Wwg
	x=16
	y=34-38
[/terrain]
[terrain]
	terrain=Wwg
	x=17
	y=35-39
[/terrain]
[terrain]
	terrain=Wwg
	x=18
	y=35-39
[/terrain]
[terrain]
	terrain=Wwg
	x=13
	y=42-43
[/terrain]
[redraw]
	side=1
[/redraw]
#enddef

#define LICHEN_TWO
 {QUAKE "rumble.ogg"}
[terrain]
	terrain=Uu^Uf
	x=14
	y=35-39
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15-17
	y=35
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=16
	y=34
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=18
	y=35-39
[/terrain]
[terrain]
	terrain=Urb
	x=15
	y=36-39
[/terrain]
[terrain]
	terrain=Urb
	x=16
	y=35-38
[/terrain]
[terrain]
	terrain=Urb
	x=17
	y=36-39
[/terrain]
[terrain]
	terrain=Urb
	x=19
	y=36-40
[/terrain]
[terrain]
	terrain=Rp^Vhcr
	x=16
	y=36
[/terrain]
[capture_village]
	side=2
	x=16
	y=36
[/capture_village]
[terrain]
	terrain=Wwg
	x=15
	y=31-33
[/terrain]
[terrain]
	terrain=Wwg
	x=16
	y=29-33
[/terrain]
[terrain]
	terrain=Wwg
	x=17
	y=30-34
[/terrain]
[terrain]
	terrain=Wwg
	x=18
	y=30-34
[/terrain]
[terrain]
	terrain=Wwg
	x=13
	y=37-38
[/terrain]
[redraw]
	side=1
[/redraw]
#enddef

#define LICHEN_THREE
 {QUAKE "rumble.ogg"}
[terrain]
	terrain=Uu^Uf
	x=16
	y=29
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=14-18
	y=30
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=18
	y=31-34
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15
	y=31-34
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=14
	y=32-33
[/terrain]
[terrain]
	terrain=Urb
	x=15
	y=33
[/terrain]
[terrain]
	terrain=Urb
	x=16
	y=30-33
[/terrain]
[terrain]
	terrain=Urb
	x=17
	y=31-34
[/terrain]
[terrain]
	terrain=Rp^Vhcr
	x=16
	y=31
[/terrain]
[capture_village]
	side=2
	x=16
	y=31
[/capture_village]
[terrain]
	terrain=Urb
	x=19
	y=31-35
[/terrain]
[terrain]
	terrain=Wwg
	x=15
	y=25-26
[/terrain]
[terrain]
	terrain=Wwg
	x=16
	y=24-28
[/terrain]
[terrain]
	terrain=Wwg
	x=17
	y=25-29
[/terrain]
[terrain]
	terrain=Wwg
	x=18
	y=25-29
[/terrain]
[redraw]
	side=1
[/redraw]
#enddef

#define LICHEN_FOUR
 {QUAKE "rumble.ogg"}
[terrain]
	terrain=Uu^Uf
	x=16
	y=24
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15-17
	y=25
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=14
	y=25-26
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=18	
	y=25-29
[/terrain]
[terrain]
	terrain=Urb
	x=19
	y=26-30
[/terrain]
[terrain]
	terrain=Urb
	x=15
	y=26-29
[/terrain]
[terrain]
	terrain=Urb
	x=16
	y=25-28
[/terrain]
[terrain]
	terrain=Urb
	x=17
	y=26-29
[/terrain]
[terrain]
	terrain=Rp^Vhcr
	x=16
	y=26
[/terrain]
[capture_village]
	side=2
	x=16
	y=26
[/capture_village]
[terrain]
	terrain=Wwg
	x=14
	y=23-24
[/terrain]
[terrain]
	terrain=Wwg
	x=15
	y=23-24
[/terrain]
[terrain]
	terrain=Wwg
	x=16
	y=22-23
[/terrain]
[terrain]
	terrain=Wwg
	x=17
	y=22-24
[/terrain]
[terrain]
	terrain=wwg
	x=18
	y=22-24
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15
	y=27-29
[/terrain]
[redraw]
	side=1
[/redraw]
#enddef

#define LICHEN_FIVE
 {QUAKE "rumble.ogg"}
[terrain]
	terrain=uu^Uf
	x=13
	y=22-25
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=14-15
	y=22
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15
	y=19-21
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=18
	y=18-24
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=17
	y=18
[/terrain]
[terrain]
	terrain=Urb
	x=19
	y=19-25
[/terrain]
[terrain]
	terrain=Urb
	x=14
	y=23-24
[/terrain]
[terrain]
	terrain=Urb
	x=15
	y=23-24
[/terrain]
[terrain]
	terrain=Urb
	x=16
	y=21-23
[/terrain]
[terrain]
	terrain=Urb
	x=17
	y=22-24
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=16
	y=20
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=17
	y=21
[/terrain]
[terrain]
	terrain=Rp^Vhcr
	x=16
	y=22
[/terrain]
[capture_village]
	side=2
	x=16
	y=22
[/capture_village]
[terrain]
	terrain=Wwg
	x=14
	y=12-19
[/terrain]
[terrain]
	terrain=Wwg
	x=15
	y=13-18
[/terrain]
[terrain]
	terrain=Wwg
	x=16
	y=12-17
[/terrain]
[terrain]
	terrain=Wwg
	x=17
	y=12-17
[/terrain]
[terrain]
	terrain=Wwg
	x=18
	y=11-17
[/terrain]
[redraw]
	side=1
[/redraw]
#enddef

#define LICHEN_SIX
 {QUAKE "rumble.ogg"}
[terrain]
	terrain=Uu^Uf
	x=14
	y=11-17
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=16-17
	y=11
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=17-19
	y=10
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15
	y=12
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=16
	y=17
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=15
	y=18
[/terrain]
[terrain]
	terrain=Uu^Uf
	x=18
	y=11-17
[/terrain]
[terrain]
	terrain=Urb
	x=19
	y=11-18
[/terrain]
[terrain]
	terrain=Urb
	x=15
	y=13-17
[/terrain]
[terrain]
	terrain=Urb
	x=16
	y=12-16
[/terrain]
[terrain]
	terrain=Urb
	x=17
	y=12-17
[/terrain]
[terrain]
	terrain=Rp^Vhcr
	x=16
	y=14
[/terrain]
[capture_village]
	side=2
	x=16
	y=14
[/capture_village]
[terrain]
	terrain=Rp^Vhcr
	x=16
	y=18
[/terrain]
[capture_village]
	side=2
	x=16
	y=18
[/capture_village]
[terrain]
	terrain=Wwg
	x=13
	y=12-19
[/terrain]
[redraw]
	side=1
[/redraw]
#enddef